@model RunSuiteViewModel
@{
    var isNoJQueryTest = Model.ScriptVirtualPath.Contains("nojquery");
    var isServerSideTest = Model.ScriptVirtualPath.Contains("DevExpress.serverSide");
    var isSelfSufficientTest  = Model.ScriptVirtualPath.Contains("_bundled")
        || Model.ScriptVirtualPath.Contains("Bundles")
        || Model.ScriptVirtualPath.Contains("DevExpress.angular")
        || Model.ScriptVirtualPath.Contains("DevExpress.jquery");
    var isIntlTest = Model.ScriptVirtualPath.Contains("intl.tests");

    string GetJQueryUrl() {
        if(isNoJQueryTest)
            return Url.Content("~/testing/helpers/noJQuery.js");

        switch(Model.JQueryVersion) {
            case "1": return Url.Content("~/node_modules/jquery.1/node_modules/jquery/dist/jquery.js");
            case "2": return Url.Content("~/node_modules/jquery.2/node_modules/jquery/dist/jquery.js");
        }
        return Url.Content("~/artifacts/js/jquery.js");
    }

    IEnumerable<string> GetJQueryIntegrationImports() {
        if(!isSelfSufficientTest) {
            if(Model.NoJQuery || isNoJQueryTest || isServerSideTest) {
                yield return Url.Content("~/testing/helpers/jQueryEventsPatch.js");
                yield return Url.Content("~/testing/helpers/argumentsValidator.js");
                yield return Url.Content("~/testing/helpers/dataPatch.js");
                yield return Url.Content("~/artifacts/transpiled/integration/jquery/component_registrator.js");
            } else {
                yield return Url.Content("~/artifacts/transpiled/integration/jquery.js");
            }
        }
        if(isServerSideTest) {
            yield return Url.Content("~/testing/helpers/ssrEmulator.js");
        }

        yield return Url.Content("~/testing/helpers/noIntl.js");
        if(isIntlTest) {
            yield return Url.Content("~/node_modules/intl/index.js");
        }
    }
}
<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=@Model.IEMode">
    <title>@Model.Title - QUnit test page</title>
    <link rel="stylesheet" href="@Url.ContentWithCacheBuster("~/node_modules/qunitjs/qunit/qunit.css")" />
    <script src="@Url.ContentWithCacheBuster("~/node_modules/qunitjs/qunit/qunit.js")"></script>

    <script>
        window.ROOT_URL = "@Url.Content("~/")";
        window.farmMode = @Html.Raw(Json.Serialize(Model.IsContinuousIntegration));
        window.INTRANET = @Html.Raw(Json.Serialize(Model.IsIntranet));

        QUnit.config.autostart = false;
    </script>
    <script src="@Url.ContentWithCacheBuster("~/testing/helpers/qunitExtensions.js")"></script>

    <style>
        #qunit-fixture.qunit-fixture-visible {
            position: fixed !important;
            left: 0 !important;
            top: 0 !important;
            pointer-events: none;
        }

        #qunit-fixture.qunit-fixture-visible * {
            pointer-events: auto;
        }

        a.up {
            width: 30px;
            height: 30px;
            margin-top: 12px;
            margin-left: 10px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAvklEQVQ4y2NgoAa4yvjH9bc0Ccr/Jv//+O/Qbxlilaf8//D///9/RGmBK/8P1nLwtyxh5e//IwB+LRjK8WvBqhyfln9ucOVfofSv/98hWv7vwqLhfzpU2ZV/dVDWxX/1UC1PcGu48sf4vw9Uw8kfHEAtP/BpuPrH+AUDQgMDA1QLDg1X/xi9ALGQNEC13MXmadc/hi8gWlE0MDB8Z/+XhkXDC8YXMLvQNICCHG98Y2ogAEamBqX/RWAYxTAgAACFCjwy8XB3SQAAAABJRU5ErkJggg==) no-repeat;
            display: inline-block;
            float: left;
        }
    </style>

    <script>
        (function() {
            var doneCount = 0,
                parentWindow = window.opener || window.parent;

            QUnit.done(function(data) {
                if(doneCount == 1)
                    notifyExtraDoneCall();

                if(!doneCount && parentWindow && parentWindow.RUNNER_ON_DONE)
                    parentWindow.RUNNER_ON_DONE(window, data);

                doneCount++;
            });

            QUnit.testStart(function(data) {
                data.suiteUrl = location.pathname;
                if(parentWindow && parentWindow.RUNNER_ON_TEST_START)
                    parentWindow.RUNNER_ON_TEST_START(window, data);
            });

            QUnit.log(function(data) {
                data.suiteUrl = location.pathname;
                if(parentWindow && parentWindow.RUNNER_ON_TEST_LOG)
                    parentWindow.RUNNER_ON_TEST_LOG(window, data);
            });

            QUnit.testDone(function(data) {
                data.suiteUrl = location.pathname;
                if(parentWindow && parentWindow.RUNNER_ON_TEST_DONE )
                    parentWindow.RUNNER_ON_TEST_DONE(window, data);
            });

            QUnit.config.urlConfig.push({
                id: "jquery",
                label: "jQuery",
                tooltip: "Select jQuery version.",
                value: {
                    "2": "2.x",
                    "1": "1.x"
                }
            });

            QUnit.config.urlConfig.push({
                id: "nojquery",
                label: "No jQuery",
                tooltip: "Don't use jQuery for widget rendering"
            });

            function notifyExtraDoneCall() {
                var msg = "QUnit.done called several times. Possible causes: extra start() calls, assertion outside test context";

                if(parentWindow && parentWindow.RUNNER_ON_MISC_ERROR) {
                    parentWindow.RUNNER_ON_MISC_ERROR(window, msg);
                } else {
                    alert("ALARM! DO NOT IGNORE THIS!\n" + msg);
                }
            }
        })();
    </script>

    <script src="@Url.ContentWithCacheBuster("~/node_modules/jquery.2/node_modules/jquery/dist/jquery.js")"></script>

    <script src="@Url.ContentWithCacheBuster("~/testing/helpers/sinon/sinon.js")"></script>
    <script src="@Url.ContentWithCacheBuster("~/testing/helpers/sinon/sinon-timers-ie.js")"></script>

    <script src="@Url.ContentWithCacheBuster("~/node_modules/systemjs/dist/system.js")"></script>
    <script>
        (function() {
            jQuery.noConflict();
            window.Intl = undefined;

            var cacheBuster = '@Url.CacheBuster()';
            if(cacheBuster.length) {
                var systemLocate = SystemJS.locate;
                SystemJS.locate = function(load) {
                    return Promise.resolve(systemLocate.call(this, load)).then(function(address) {
                        return address + ( address.indexOf('?') === -1 ? '?' : '&') + cacheBuster;
                    });
                }
            }

            SystemJS.config({
                baseURL: '@Url.Content("~/artifacts/transpiled")',
                transpiler: 'plugin-babel',
                map: {
                    // Deps
                    'globalize': '@Url.Content("~/artifacts/js/globalize")',
                    'cldr': '@Url.Content("~/artifacts/js/cldr")',
                    'jquery': '@GetJQueryUrl()',
                    'knockout': '@Url.Content("~/node_modules/knockout/build/output/knockout-latest.debug.js")',
                    'angular': '@Url.Content("~/artifacts/js/angular.js")',
                    'preact': '@Url.Content("~/artifacts/js/preact.js")',
                    'preact/hooks': '@Url.Content("~/artifacts/js/hooks.js")',
                    'jszip': '@Url.Content("~/artifacts/js/jszip.js")',
                    'quill': '@Url.Content("~/node_modules/quill/dist/quill.js")',
                    'devexpress-diagram': '@Url.Content("~/artifacts/js/dx-diagram.js")',
                    'devexpress-gantt': '@Url.Content("~/artifacts/js/dx-gantt.js")',
                    'exceljs': '@Url.Content("~/node_modules/exceljs/dist/exceljs.js")',
                    'turndown': '@Url.Content("~/node_modules/turndown/lib/turndown.browser.umd.js")',
                    'showdown': '@Url.Content("~/node_modules/showdown/dist/showdown.js")',

                    // Global CSS

                    'common.css': '@Url.Content("~/artifacts/css/dx.common.css")',

                    'generic_light.css': '@Url.Content("~/artifacts/css/dx.light.css")',
                    'ios7_default.css': '@Url.Content("~/artifacts/css/dx.ios7.default.css")',

                    // SystemJS plugins
                    'css': '@Url.Content("~/node_modules/systemjs-plugin-css/css.js")',
                    'text': '@Url.Content("~/node_modules/systemjs-plugin-text/text.js")',
                    'json': '@Url.Content("~/node_modules/systemjs-plugin-json/json.js")',
                    'plugin-babel': '@Url.Content("~/node_modules/systemjs-plugin-babel/plugin-babel.js")',
                    'systemjs-babel-build': '@Url.Content("~/node_modules/systemjs-plugin-babel/systemjs-babel-browser.js")'
                },
                packages: {
                    'events/utils': {
                        main: 'index'
                    },
                    'events': {
                        main: 'index'
                    },
                    '': {
                        defaultExtension: 'js'
                    },

                    // Deps
                    'globalize': {
                        main: '../globalize.js',
                        defaultExtension: 'js'
                    },
                    'cldr': {
                        main: '../cldr.js',
                        defaultExtension: 'js'
                    }
                },
                meta: {
                    '@Url.Content("~/node_modules/knockout/build/output/knockout-latest.debug.js")': {
                        format: 'global',
                        deps: ['jquery'],
                        exports: 'ko'
                    },

                    '@Url.Content("~/artifacts/js/angular.js")': {
                        deps: ['jquery'],
                        format: 'global',
                        expots: 'angular'
                    }
                }
            });
        })();
    </script>
</head>
<a class="up" href="@Url.Action("Index")"></a>
<div id="qunit"></div>
<div id="qunit-fixture"></div>

<script>
    (function() {
        // IE11 hack for promises error (http://stackoverflow.com/questions/35651193/ie11-promise-strange-behaviour)
        jQuery.each([1, 2, 3, 5, 8, 13, 20, 40, 100], function(_, timeout) {
            new Promise(function (resolve) {
                window.setTimeout(resolve, timeout * 1000);
            });
        });

        var integrationImportPaths = @Html.Raw(Json.Serialize(GetJQueryIntegrationImports()));

        var imports = integrationImportPaths.map(function(importPath) {
            return SystemJS.import(importPath);
        });

        imports.push(new Promise(function(resolve) {
            jQuery(resolve);
        }));

        Promise.all(imports)
        .then(function() {
            var isNotWebkitBrowser = window.navigator.userAgent.toLowerCase().indexOf("webkit") < 0,
                isOldJQuery = !!@Json.Serialize(Model.JQueryVersion);

            if(@Json.Serialize(isServerSideTest) && (isNotWebkitBrowser || isOldJQuery)) {
                return;
            }

            return SystemJS.import("@Url.Content(Model.ScriptVirtualPath)");
        })
        .then(function() {
            QUnit.start();
        })
        .catch(function (err) {
            QUnit.start();
            QUnit.test("load failed", function(assert) {
                throw err;
            });
        });

    })();
</script>
