@model RunSuiteViewModel
@{
    var isNoJQueryTest = Model.ScriptVirtualPath.Contains("nojquery");
    var isServerSideTest = Model.ScriptVirtualPath.Contains("DevExpress.serverSide");
    var isSelfSufficientTest  = Model.ScriptVirtualPath.Contains("_bundled")
        || Model.ScriptVirtualPath.Contains("Bundles")
        || Model.ScriptVirtualPath.Contains("DevExpress.angular")
        || Model.ScriptVirtualPath.Contains("DevExpress.jquery");
    var npmModule = Model.NoRenovation
        ? "transpiled"
        : "transpiled-renovation";

    string GetJQueryUrl() {
        if(isNoJQueryTest)
            return Url.Content("~/testing/helpers/noJQuery.js");

        return Url.Content("~/testing/helpers/jQuery.js");
    }

    IEnumerable<string> GetJQueryIntegrationImports() {
        if(!isSelfSufficientTest) {
            if(Model.NoJQuery || isNoJQueryTest || isServerSideTest) {
                yield return Url.Content("~/testing/helpers/jQueryEventsPatch.js");
                yield return Url.Content("~/testing/helpers/argumentsValidator.js");
                yield return Url.Content("~/testing/helpers/dataPatch.js");
                yield return Url.Content("~/artifacts/" + npmModule + "/integration/jquery/component_registrator.js");
            } else {
                yield return Url.Content("~/artifacts/" + npmModule + "/integration/jquery.js");
            }
        }
        if(isServerSideTest) {
            yield return Url.Content("~/testing/helpers/ssrEmulator.js");
        }
    }
}
<!DOCTYPE html>
<head>
    <title>@Model.Title - QUnit test page</title>
    <link rel="stylesheet" href="@Url.ContentWithCacheBuster("~/node_modules/qunit/qunit/qunit.css")" />
    <script src="@Url.ContentWithCacheBuster("~/node_modules/qunit/qunit/qunit.js")"></script>

    <script>
        window.ROOT_URL = "@Url.Content("~/")";
        window.farmMode = @Html.Raw(Json.Serialize(Model.IsContinuousIntegration));
        window.INTRANET = @Html.Raw(Json.Serialize(Model.IsIntranet));

        QUnit.config.autostart = false;
        QUnit.config.failOnZeroTests = false;
    </script>
    <script src="@Url.ContentWithCacheBuster("~/testing/helpers/qunitExtensions.js")"></script>

    <style>
        #qunit-fixture.qunit-fixture-visible {
            position: fixed !important;
            left: 0 !important;
            top: 0 !important;
            pointer-events: none;
        }

        #qunit-fixture.qunit-fixture-visible * {
            pointer-events: auto;
        }



        a.up {
            width: 30px;
            height: 30px;
            margin-top: 12px;
            margin-left: 10px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAvklEQVQ4y2NgoAa4yvjH9bc0Ccr/Jv//+O/Qbxlilaf8//D///9/RGmBK/8P1nLwtyxh5e//IwB+LRjK8WvBqhyfln9ucOVfofSv/98hWv7vwqLhfzpU2ZV/dVDWxX/1UC1PcGu48sf4vw9Uw8kfHEAtP/BpuPrH+AUDQgMDA1QLDg1X/xi9ALGQNEC13MXmadc/hi8gWlE0MDB8Z/+XhkXDC8YXMLvQNICCHG98Y2ogAEamBqX/RWAYxTAgAACFCjwy8XB3SQAAAABJRU5ErkJggg==) no-repeat;
            display: inline-block;
            float: left;
        }
    </style>

    <script>
        (function() {
            var doneCount = 0,
                parentWindow = window.opener || window.parent;

            QUnit.done(function(data) {
                if(doneCount == 1)
                    notifyExtraDoneCall();

                if(!doneCount && parentWindow && parentWindow.RUNNER_ON_DONE)
                    parentWindow.RUNNER_ON_DONE(window, data);

                doneCount++;
            });

            QUnit.testStart(function(data) {
                data.suiteUrl = location.pathname;
                if(parentWindow && parentWindow.RUNNER_ON_TEST_START)
                    parentWindow.RUNNER_ON_TEST_START(window, data);
            });

            QUnit.log(function(data) {
                data.suiteUrl = location.pathname;
                if(parentWindow && parentWindow.RUNNER_ON_TEST_LOG)
                    parentWindow.RUNNER_ON_TEST_LOG(window, data);
            });

            QUnit.testDone(function(data) {
                data.suiteUrl = location.pathname;
                if(parentWindow && parentWindow.RUNNER_ON_TEST_DONE )
                    parentWindow.RUNNER_ON_TEST_DONE(window, data);
            });

            QUnit.config.urlConfig.push({
                id: "nojquery",
                label: "No jQuery",
                tooltip: "Don't use jQuery for widget rendering"
            });

            QUnit.config.urlConfig.push({
                id: "norenovation",
                label: "No Renovation",
                tooltip: "Use norenovation components with old tests",
            });

            function notifyExtraDoneCall() {
                var msg = "QUnit.done called several times. Possible causes: extra start() calls, assertion outside test context";

                if(parentWindow && parentWindow.RUNNER_ON_MISC_ERROR) {
                    parentWindow.RUNNER_ON_MISC_ERROR(window, msg);
                } else {
                    alert("ALARM! DO NOT IGNORE THIS!\n" + msg);
                }
            }
        })();
    </script>

    <script src="@Url.ContentWithCacheBuster("~/node_modules/jquery/dist/jquery.js")"></script>

    <script src="@Url.ContentWithCacheBuster("~/node_modules/sinon/pkg/sinon.js")"></script>
    <base href="@Url.Content("~/artifacts/" + npmModule + "/")">
    <script type="systemjs-importmap">
        {
            "imports": {
                "globalize": "@Url.Content("~/artifacts/js/globalize")",
                "intl": "@Url.Content("~/node_modules/intl/index.js")",
                "cldr": "@Url.Content("~/artifacts/js/cldr")",
                "jquery": "@GetJQueryUrl()",
                "knockout": "@Url.Content("~/node_modules/knockout/build/output/knockout-latest.debug.js")",
                "angular": "@Url.Content("~/artifacts/js/angular.js")",
                "inferno": "@Url.Content("~/node_modules/inferno/dist/index.esm.js")",
                "inferno-hydrate": "@Url.Content("~/node_modules/inferno-hydrate/dist/inferno-hydrate.js")",
                "inferno-compat": "@Url.Content("~/node_modules/inferno-compat/dist/inferno-compat.js")",
                "inferno-clone-vnode": "@Url.Content("~/node_modules/inferno-clone-vnode/dist/index.esm.js")",
                "inferno-create-element": "@Url.Content("~/node_modules/inferno-create-element/dist/index.esm.js")",
                "inferno-create-class": "@Url.Content("~/node_modules/inferno-create-class/dist/index.esm.js")",
                "inferno-extras": "@Url.Content("~/node_modules/inferno-extras/dist/index.esm.js")",
                "jszip": "@Url.Content("~/artifacts/js/jszip.js")",

                "@@babel/runtime/": "@Url.Content("~/node_modules/@babel/runtime/")",
                "@@devextreme/vdom": "@Url.Content("~/node_modules/@devextreme/vdom")",
                "@@devextreme/runtime/common": "@Url.Content("~/node_modules/@devextreme/runtime/common")",
                "@@devextreme/runtime/inferno": "@Url.Content("~/node_modules/@devextreme/runtime/esm/inferno/index.js")",
                "@@devextreme/runtime/inferno/": "@Url.Content("~/node_modules/@devextreme/runtime/esm/inferno/")",
                "@@devextreme/runtime/declarations": "@Url.Content("~/node_modules/@devextreme/runtime/declarations")",
                "@@devextreme/runtime/angular": "@Url.Content("~/node_modules/@devextreme/runtime/angular")",
                "@@devextreme/runtime/vue": "@Url.Content("~/node_modules/@devextreme/runtime/vue")",
                "@@devextreme/runtime/react": "@Url.Content("~/node_modules/@devextreme/runtime/react")",
                "devextreme-quill": "@Url.Content("~/node_modules/devextreme-quill/dist/dx-quill.js")",
                "devexpress-diagram": "@Url.Content("~/artifacts/js/dx-diagram.js")",
                "devexpress-gantt": "@Url.Content("~/artifacts/js/dx-gantt.js")",
                "exceljs": "@Url.Content("~/node_modules/exceljs/dist/exceljs.js")",
                "fflate": "@Url.Content("~/node_modules/fflate/esm/browser.js")",
                "jspdf": "@Url.Content("~/node_modules/jspdf/dist/jspdf.umd.js")",
                "jspdf-autotable": "@Url.Content("~/node_modules/jspdf-autotable/dist/jspdf.plugin.autotable.js")",
                "turndown": "@Url.Content("~/node_modules/turndown/lib/turndown.browser.umd.js")",
                "devextreme-showdown": "@Url.Content("~/node_modules/devextreme-showdown/dist/showdown.js")",
                "rrule": "@Url.Content("~/node_modules/rrule/dist/es5/rrule.js")",
                "generic_light.css!": "@Url.Content("~/artifacts/css/dx.light.css")",
                "material_blue_light.css!": "@Url.Content("~/artifacts/css/dx.material.blue.light.css")",
                "css": "@Url.Content("~/node_modules/systemjs-plugin-css/css.js")",
                "text": "@Url.Content("~/node_modules/systemjs-plugin-text/text.js")",
                "json": "@Url.Content("~/node_modules/systemjs-plugin-json/json.js")",
                "plugin-babel": "@Url.Content("~/node_modules/systemjs-plugin-babel/plugin-babel.js")",
                "systemjs-babel-build": "@Url.Content("~/node_modules/systemjs-plugin-babel/systemjs-babel-browser.js")",

                "animation/": "./animation/",
                "bundles/": "./bundles/",
                "color": "./color.js",
                "common/": "./common/",
                "core/": "./core/",
                "data/": "./data/",
                "events/": "./events/",
                "format_helper": "./format_helper.js",
                "localization": "./localization",
                "localization/": "./localization/",
                "integration/": "./integration/",
                "ui/": "./ui/",
                "viz/": "./viz/",
                "aspnet.js": "./aspnet.js"
            }
        }
    </script>
    <script src="@Url.ContentWithCacheBuster("~/node_modules/systemjs/dist/system.js")"></script>
    <script src="@Url.ContentWithCacheBuster("~/node_modules/systemjs-babel/dist/systemjs-babel.js")"></script>
    <script src="@Url.ContentWithCacheBuster("~/node_modules/systemjs/dist/extras/global.js")"></script>
    <script src="@Url.ContentWithCacheBuster("~/node_modules/systemjs/dist/extras/amd.js")"></script>
    <script>
        (function() {
            jQuery.noConflict();

            const systemPrototype = System.constructor.prototype;

            const originalFetch = systemPrototype.fetch;

            systemPrototype.fetch = function(url, options) {
                if (/!$/.test(url)) {
                    return originalFetch(url.replace('!', ''), options);
                }

                if (url.includes('renovation/ui')) {
                    return originalFetch(url + '.js', options);
                }

                if (!/\.(js|json|css)$/.test(url)) {
                    return originalFetch(url + '.js', options);
                }

                return originalFetch(url, options);
            };

            const originalInstantiate = systemPrototype.instantiate;

            systemPrototype.instantiate = function() {
                const url = arguments[0];

                if (/\.css$/.test(url)) {
                    return new Promise((resolve, reject) => {
                        const link = document.createElement('link');
                        link.type = 'text/css';
                        link.rel = 'stylesheet';
                        link.href = url;
                        document.head.appendChild(link);

                        link.onload = function() {
                            resolve([[], function() {
                                return {};
                            }]);
                        };

                        link.onerror = function(error) {
                            reject(error);
                        };
                    });
                }

                return originalInstantiate.apply(this, arguments);
            };

            var cacheBuster = '@Url.CacheBuster()';
            if(cacheBuster.length) {
                var systemLocate = System.locate;
                System.locate = function(load) {
                    return Promise.resolve(systemLocate.call(this, load)).then(function(address) {
                        return address + ( address.indexOf('?') === -1 ? '?' : '&') + cacheBuster;
                    });
                }
            }

            var baseURL = QUnit.urlParams.norenovation
                ? '@Url.Content("~/artifacts/transpiled")'
                : '@Url.Content("~/artifacts/transpiled-renovation")';

            System.addImportMap({
                baseURL: baseURL,
                packages: {
                    '@@devextreme/runtime/common': {
                        main: '../cjs/common/index.js',
                        defaultExtension: 'js',
                        format: 'cjs'
                    },
                    '@@devextreme/runtime/inferno': {
                        main: '../cjs/inferno/index.js',
                        defaultExtension: 'js',
                        format: 'cjs'
                    },
                    '@@devextreme/runtime/angular': {
                        main: '../cjs/angular/index.js',
                        defaultExtension: 'js',
                        format: 'cjs'
                    },
                    '@@devextreme/runtime/react': {
                        main: '../cjs/react/index.js',
                        defaultExtension: 'js',
                        format: 'cjs'
                    },
                    '@@devextreme/runtime/vue': {
                        main: '../cjs/vue/index.js',
                        defaultExtension: 'js',
                        format: 'cjs'
                    },
                    '@@devextreme/runtime/declarations': {
                        main: '../cjs/declarations/index.js',
                        defaultExtension: 'js',
                        format: 'cjs'
                    },
                    '': {
                        defaultExtension: 'js'
                    },

                    // Deps
                    'globalize': {
                        main: '../globalize.js',
                        defaultExtension: 'js'
                    },
                    'cldr': {
                        main: '../cldr.js',
                        defaultExtension: 'js'
                    },
                    'events/utils': {
                        main: 'index'
                    },
                    'events': {
                        main: 'index'
                    },
                },
                packageConfigPaths: [
                    "@@devextreme/*/package.json",
                ],
                meta: {
                    '@Url.Content("~/node_modules/knockout/build/output/knockout-latest.debug.js")': {
                        format: 'global',
                        deps: ['jquery'],
                        exports: 'ko'
                    },

                    '@Url.Content("~/artifacts/js/angular.js")': {
                        deps: ['jquery'],
                        format: 'global',
                        exports: 'angular'
                    }
                }
            });
        })();
    </script>
</head>
<a class="up" href="@Url.Action("Index")"></a>
<div id="qunit"></div>
<div id="qunit-fixture"></div>

<script>
    (function() {
        var integrationImportPaths = @Html.Raw(Json.Serialize(GetJQueryIntegrationImports()));

        var imports = integrationImportPaths.map(function(importPath) {
            return System.import(importPath);
        });

        imports.push(new Promise(function(resolve) {
            jQuery(resolve);
        }));

        Promise.all(imports)
        .then(function() {
            var isNotWebkitBrowser = window.navigator.userAgent.toLowerCase().indexOf("webkit") < 0;

            if(@Json.Serialize(isServerSideTest) && isNotWebkitBrowser) {
                return;
            }

            return System.import("@Url.Content(Model.ScriptVirtualPath)");
        })
        .then(function() {
            QUnit.start();
        })
        .catch(function (err) {
            QUnit.start();
            QUnit.test("load failed", function(assert) {
                throw err;
            });
        });

    })();
</script>
